<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mainPagesStyle.css' %}">
<!--<link rel="stylesheet" type="text/css" href='C:\Users\liamr\Desktop\Blendr\main\static\css\mainPagesStyle.css'>-->

</head>
<body>
<div id="navBar">

    <div id="navLogo">
        <form action={% url 'homepage' %} method="POST">
            {% csrf_token %}
            <input type="image" src="../../static/images/logo_white.png"height="75" width="200" alt="Submit">
        </form>
    </div>
    <a href=""></a>
    <div id="friendsIcon">
        <form action={% url 'friends'%} method="POST">
            {% csrf_token %}
            <input class= "friends_button" type="submit" value="">
        </form>
    </div>


        <form action={% url 'account' %} method="POST">
            {% csrf_token %}
            <div id="accountIcon">
                <input class= "account_button" type="submit" value="">
            </div>
        </form>
</div>

    <div id = top_buttons>





        <script>
            function openForm() {
             document.getElementById("myForm").style.display = "block";
        }
        </script>
    </div>
    </div>
<div id = "userDisplay">
    {% for usercard in Users %}
        <div id = "userCard">
            <img id = "profilePicture" src={{ usercard.pic }}, height="225" width="350">

            </img>
            <div id = "nameAgeCity">
                <p>   {{ usercard.username }}&nbsp   {{ usercard.age }}&nbsp   {{ usercard.city }}</p>
            </div>

            <div id="bio">
                <p>{{ usercard.biography }}</p>
            </div>
            <form method="post" action={% url 'remove_friend' %}>
                {% csrf_token %}
                <div id = "likeButton">
                <input class= "like_button" type="submit" name="like_button" value={{ usercard.email }}>
            </div>

            </form>



        </div>

    {% endfor %}
</div>





</body>
</html>