{% load static %}
<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/mainPagesStyle.css' %}">
<!--<link rel="stylesheet" type="text/css" href='C:\Users\liamr\Desktop\Blendr\main\static\css\mainPagesStyle.css'>-->

</head>
<body>
<div id="navBar">

    <div id="navLogo">

            <img src="../../static/images/logo_white.png"height="75" width="200">
    </div>

    <div id="friendsIcon">
        <input class= "friends_button" type="button" value="">
    </div>
    <div id="messagesIcon">
        <input class= "messages_button" type="button" value="">
    </div>
    <div id="accountIcon">
        <input class= "account_button" type="button" value="">
    </div>


</div>

</body>
</html>