<html>
    <head>

      <title>Welcome</title>
      <link rel="stylesheet" type="text/css" href="../../static/css/projectStyle.css"></link>
      

    </head>
   
    <body>
      
      <div id ="signUpBox">
            <div id ="mix">
                    <p>Let's Mix!</p>
                  </div>
            
                  <form action="ProfileCreation.html" method="POST">

                      <div id ="inputs">
           
                          <input type="text" name="Name" placeholder="Name"></input>
                          <br></br>
                          <input type="text" name="Email" placeholder="Email"></input>
                          <br></br>
                          <input type="password" name="Password" placeholder="Password"></input>
                          <br></br>
                          <input type="password" name="confirmPassword" placeholder="Confirm Password"></input>
                          <br></br> 
                          </div>
                        <input type="submit" name="signUP" value = "Sign Up"></input>
                    </form>

                <form action="login.html">
                    <div id = "Login">
              
                    <input type="submit" name="login" value = "Login"></input>
                </form>
                    </div>
    
            <div id = "signUp">

                
          
            </div>


            
      </div>
      
      
        </body>
</html>
