{% load static %}

<html>
<head>

    <title>Profile Creation</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/projectStyle.css' %}"/>

</head>

<body>

<div id ="signUpBox">

    <form action="login.html/", method="POST">
        {% csrf_token %}

        <div id ="inputs">
            <div id = profilePictures>
                <input id="fileInput" type="file" style="display:none;" />
                <input class= "profilePicture" type="button" value="" onclick="document.getElementById('fileInput').click();" />
                <img id="myImg" src="">
            </div>

        <div id= bioTitle>
            Say something about yourself
        </div>
        <textarea name="biography" cols="50" rows="7" placeholder="Bio"></textarea>
        <br/>

        <p>Gender</p>
        <div id = "genders">

            <input type="radio" name="gender" value="male"> Male<br>
            <input type="radio" name="gender" value="female"> Female<br>
        </div>

        <p><strong>Interested in</strong></p>

        <div id = "sexuality">
            <input type="radio" name="sexuality" value="Men"> Men<br>
            <input type="radio" name="sexuality" value="Women"> Women<br>
        </div>

    </div>
    <div id = "Complete Registration">
        <input type="submit" name="complete_registration" value = "Blend!"/>
    </div>

    </form>

</div>

</body>
</html>
