<html>
    <head>

      <title>Profile Creation</title>
      <link rel="stylesheet" type="text/css" href="projectStyle.css"></link>
      

    </head>
   
    <body>
      <div id = "logo">
        <img src="./logo.png" height="200" width="400">
      </div>

      <div id ="signUpBox">
            
      <div id ="inputs">
  
              <div id = profilePictures>
                <input id="fileInput" type="file" style="display:none;" />
                <input class= "profilePicture" type="button" value="" onclick="document.getElementById('fileInput').click();" />
                <img id="myImg" src="">
                </div>
        
            <div id= bioTitle>
                Say something about yourself
            </div>
            <textarea name="paragraph_text" cols="50" rows="7" placeholder="Bio"></textarea>
            <br></br>

            <p>Gender</p>
            <div id = "genders">
             
            <input type="radio" name="gender" value="male"> Male<br>
            <input type="radio" name="gender" value="female"> Female<br>
            </div>

            <p><strong>Interested in</strong></p>

            <div id = "sexuality">
                <input type="radio" name="sexuality" value="Men"> Men<br>
                <input type="radio" name="sexuality" value="Women"> Women<br>
                </div>
           

            </div>
            <form action="login.html">
                <div id = "Login">
          
                <input type="submit" name="login" value = "Blend!"></input>
              </div>
            </form>
                

      </div>
      
      
        </body>
</html>
