<html>
    <head>

      <title>Profile Creation</title>
      <link rel="stylesheet" type="text/css" href="../../static/css/projectStyle.css"></link>
      

    </head>
   
    <body>
      
      <div id ="signUpBox">
            
            <div id ="inputs">
         
            <input type="text" name="Name" placeholder="First Name"></input>
            <br></br>
            
            </div>
            <form action="login.html">
                <div id = "Login">
          
                <input type="submit" name="login" value = "Blend!"></input>
            </form>
                </div>

      </div>
      
      
        </body>
</html>
