<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{% static 'css/mainPagesStyle.css' %}"/>
</head>
<body>

{% csrf_token %}

<div id="navBar">

    <div id="navLogo">

        <img src="../../static/images/logo_white.png"height="75" width="200">
    </div>

    <div id="friendsIcon">
        <input class= "friends_button" type="button" value="">
    </div>
    <div id="messagesIcon">
        <input class= "messages_button" type="button" value="">
    </div>
    <div id="accountIcon">
        <input class= "account_button" type="button" value="">
    </div>
</div>

<div id ="ViewProfileBox">
    <div id="profileInputs">
        <div id="profilePictures">

        </div>

        <div id="username">

        </div>

        <div id="biography">

        </div>

        <div id="gender">

        </div>
s
        <div id="sexuality">

        </div>



    </div>
</div>




</body>
</html>